<% provide(:title, "About us") %>

<% content_for :content do %>
        <div id="colorlib-main">
			<div class="colorlib-blog">
				<div class="container-wrap">
					<div class="row row-pb-lg">
						<div class="col-md-12 blog-slider">
							<div class="owl-carousel owl-theme">
								<div class="item">
									<div class="blog-entry">
										<div class="blog-img" style="background-image: url('https://scontent.fhan3-3.fna.fbcdn.net/v/t1.0-9/1383523_467235633373922_269591437_n.jpg?_nc_cat=108&_nc_ht=scontent.fhan3-3.fna&oh=3f213ccb20ac198061017d5996b13fd4&oe=5C42F2EF');">
											<div class="desc desc2 text-center">
												<p class="tag"><span>Trainer Lifetime Tech</span></p>
												<div class="desc-bottom">
													<h2 class="head-article"><a href="#">Đặng Đình Dũng</a></h2>
													<p>Yêu màu tím, thích màu hồng, sống nội tâm</p>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="item">
									<div class="blog-entry">
										<div class="blog-img" style="background-image: url('https://scontent.fhan2-1.fna.fbcdn.net/v/t1.0-9/37896607_1889544447832703_2404914968290918400_n.jpg?_nc_cat=101&_nc_ht=scontent.fhan2-1.fna&oh=9fb35ab5d1dba6dad4cf7976ee0b390d&oe=5C822F30');">
											<div class="desc desc2 text-center">
												<p class="tag"><span>Real-Leader</span></p>
												<div class="desc-bottom">
													<h2 class="head-article"><a href="#">Phạm Tùng Lâm</a></h2>
													<p>Yêu màu tím, thích màu hồng, sống nội tâm</p>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="item">
									<div class="blog-entry">
										<div class="blog-img" style="background-image: url('https://scontent.fhan3-2.fna.fbcdn.net/v/t1.0-9/14947923_1783602631894296_5207663462047979500_n.jpg?_nc_cat=102&_nc_ht=scontent.fhan3-2.fna&oh=77eb1a7730b5c997e4634f8fb20d1b5a&oe=5C87B89A');">
											<div class="desc desc2 text-center">
												<p class="tag"><span>Not-Real-Leader</span></p>
												<div class="desc-bottom">
													<h2 class="head-article"><a href="#">Nguyễn Đình Dương</a></h2>
													<p>Yêu màu tím, thích màu hồng, sống nội tâm</p>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="item">
									<div class="blog-entry">
										<div class="blog-img" style="background-image: url('https://scontent.fhan2-1.fna.fbcdn.net/v/t1.0-9/38448892_1409007792577568_6413360456194326528_n.jpg?_nc_cat=103&_nc_ht=scontent.fhan2-1.fna&oh=cc44b971409e113242d70277bb0f261a&oe=5C819615');">
											<div class="desc desc2 text-center">
												<p class="tag"><span>Cục tạ</span></p>
												<div class="desc-bottom">
													<h2 class="head-article"><a href="#">Hà Minh Đức</a></h2>
													<p>Yêu màu tím, thích màu hồng, sống nội tâm</p>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="item">
									<div class="blog-entry">
										<div class="blog-img" style="background-image: url('https://scontent.fhan2-4.fna.fbcdn.net/v/t1.0-9/38701164_486263625115443_8274944606794153984_n.jpg?_nc_cat=105&_nc_ht=scontent.fhan2-4.fna&oh=e572d510f7529de7f1ae3ae838c4c311&oe=5C886CF6');">
											<div class="desc desc2 text-center">
												<p class="tag"><span>Member</span></p>
												<div class="desc-bottom">
													<h2 class="head-article"><a href="#">Phạm Hoàng Hưng</a></h2>
													<p>Yêu màu tím, thích màu hồng, sống nội tâm</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								
								<div class="item">
									<div class="blog-entry">
										<div class="blog-img" style="background-image: url('https://scontent.fhan2-3.fna.fbcdn.net/v/t1.0-9/37860292_275768973197528_5336658609453400064_n.jpg?_nc_cat=107&_nc_ht=scontent.fhan2-3.fna&oh=273f88c238cc2c7ae1df57379c72fb05&oe=5C888602');">
											<div class="desc desc2 text-center">
												<p class="tag"><span>Member</span></p>
												<div class="desc-bottom">
													<h2 class="head-article"><a href="#">Trịnh Văn Đại</a></h2>
													<p>Yêu màu tím, thích màu hồng, sống nội tâm</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
						<h2>About Vietnam</h2>
						<div class="row">
							<div class="col-md-5">
								<div class="content-wrap">
									<iframe width="400" height="315" src="https://www.youtube.com/embed/Uou9yfTzsEM" 
									frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
								</div>
							</div>
							<div class="col-md-7">
								<div class="content-wrap">
									<p>Vietnam (UK: /ˌvjɛtˈnæm, -ˈnɑːm/, US: /ˌviːət-/ (About this sound listen);
							Vietnamese: Việt Nam pronounced [vîət nāːm] (About this sound listen)), officially the Socialist Republic of Vietnam (Vietnamese: Cộng hòa Xã hội chủ nghĩa Việt Nam), 
							is the easternmost country on the Indochina Peninsula. With an estimated 94.6 million inhabitants as of 2016, it is the world's 15th-most-populous country, 
							and the ninth-most-populous Asian country.
							Vietnam is bordered by China to the north, Laos to the northwest, Cambodia to the southwest, Thailand across the Gulf of Thailand to the southwest, and the Philippines, 
							Malaysia and Indonesia across the South China Sea to the east and southeast.
							Its capital city has been Hanoi since the reunification of North and South Vietnam in 1976, with Ho Chi Minh City as the most populous city.</p>
								</div>
							</div>
						</div>
				</div>
			</div>
		</div>
<% end %>